body {

  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Comic Sans MS, sans-serif;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width: 10%;

}
h1 {
  font-size: 4.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Indie Flower', cursive;

  color:#66BFBF;
}

h2 {
  font-size: 2.8rem;
  font-family: 'Pacifico', cursive;
  color:#66BFBF;
  font-weight: normal;
}

h3 {
  color:#11999E;
  font-family: 'Source Serif Pro', serif;
}

a{
  color:#11999E;
  margin: 20px 20px;
  font-family: 'Source Serif Pro', serif;
}
a:hover{
  color:#EAF6F6;
}
.topContainer {
  background-color: #fffdf9;
  position: relative;
}
.midContainer{
  margin: 100px 0;
}
.top-Cloud {
  position: absolute;
  margin-left: 200px;
}

.bottom-Cloud {
  position: absolute;
}
.profile{

width :30%;
height:30%;
margin:0 auto;
border-radius: 40%;
}
.roboticsAndAutomation{
width :40%;
height:40%;
margin:0 auto;
border-radius: 60%;
}
.programming{
  width :40%;
  height:40%;
  margin:0 auto;
  border-radius: 60%;
}

.skill-row{
  margin: 100px auto 100px auto ;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.roboticsAndAutomation{
  width:25%;
  float: left;
  margin-right: 30px;
}
.programming{
  width:25%;
  float: right;
  margin-left: 30px;
}

.myButton {
	box-shadow: 0 0 6px 0 #3dc21b;
	background:linear-gradient(to bottom, #5045c7 5%, #5cbf2a 100%);
	background-color:#5045c7;
	border-radius:7px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 6px #2f6627;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #5045c7 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 30px;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
